<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pubilc/css/bootstrap.min.css" />
    <script src="/pubilc/javascript/bootstrap.min.js"></script>
    <title>Layout101</title>
</head>
<body>
    <!-- ?maximun colume is 12 colume -->
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-sm-2 bg-primary text-center">Column</div>
        <div class="col-sm-8 bg-danger text-center">Column</div>
        <div class="col-sm-2 bg-warning text-center">Column</div>
    </div>
</body>
</html>