<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css101-flexbox</title>
    <link rel="stylesheet" href="/public/css/flexbox.css" />
  </head>
  <body>
    <div class="container">
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <div class="container-center">
          <button>1</button>
          <button>2</button>
          <button>3</button>
      </div>
      <div class="container-column">
          <button>1</button>
          <button>2</button>
          <button>3</button>
      </div>
    </div>
  </body>
</html>
