<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ? DOM Documnet Object Modal -->
    <!-- ? TREE STUCTURE OF HTML -->
    <!-- ? BOM Bowser Object Model -->
    <!-- ? NAVIGATION BETWEEN PAGE -->
    <h1>Page1</h1>
    <button>Page2</button>
<script>
    document.querySelector('button').onclick = function(){
        // alway check
        // alert('Test');
        // window.location.assign('js-bom2.html');
        // window.location.href = 'js-bom2.html';
        // can not return before page
        // window.location.replace('js-bom2.html');
        
        // slowly because refech everything in page
        // window.location.reload();
    }
</script>
</body>
</html>