<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page2</h1>
    <button>back</button>
<script>
    document.querySelector('button').onclick = function(){
        // alway check
        // alert('Test');
        // window.location.assign('js-bom.html');
        // window.history.back();
        // jump backward -1 page
        window.history.go(-1);
    }
    </script>
</body>
</html>