<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScipt101</title>
    <!--? async เพื่อให้โหลดscriptหลังhtml -->
    <!--? defer เพื่อให้โหลดแบบเรียงลำดับ -->
    
</head>
<body>
    
    <div id="txtCounter">
        Counter = 0
    </div>
    <button id="btnClick">click</button>

    <!-- ?scriptแบบinternalต้องอยู่ล่างสุดของแท็กbody -->
    <!-- <script>
        // document.write('<h1>Hello World</h1>');
        
        // general messege
        console.log('Hello World');
        console.log('อยากกินชานม');
        // error messege
        console.error('wrong inputs');
        
    </script> -->

    <script src="/public/js/js101.js" ></script>
</body>
</html>