<!DOCTYPE html>
<!--? เปลี่ยนการเข้ารหัส -->
<html lang="en">  
<head>
    <meta charset="UTF-8" />
    
    <!--? adjustscalescreen -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--!ควรลดขนาดรูปก่อนนำมาลงเว็บจริงเป็น16*16px -->
    <link rel="shortcut icon" href="/public/img/banana.png" type="image/x-icon">
    
    <title>firsttime</title>
  </head>
  <body>
    <h1>ขออนุญาติไปเข้าห้องน้ำคับ</h1>
    <h2>ขอบคุณคับ</h2>
    
    <!--? tag <br> == newline -->
    <p>
      Lorem ipsum dolor sit <br />
      amet, consectetur adipisicing elit. Nostrum consequatur quae qui atque
      facere harum eveniet, at voluptate ab cumque dolore eaque nobis. Porro,
      voluptatum temporibus. Aliquam quos earum nostrum?
    </p>
    
    <!--? <div> == เว้นบรรทัดและให้อยู่ในblockเดียวกัน -->
    <xdiv>
        <!--? .. == เพื่อออกfolder -->  
        <!--<img src="../public/img/keyboardist.png" alt="" srcset="">-->
        
        <!--!ควรลดขนาดรูปก่อนนำมาลงเว็บจริง-->                                                                
        <img src="/public/img/keyboardist.png" alt="keyboardist" width="100" height="100">
    </div>
    <!--? list -->
    <ul>
        <li>
            <div>
                <img src="/public/img/keyboardist.png" alt="keyboardist" width="100" height="100">
            </div>
        </li>
        <li>
            <div>
                <img src="/public/img/keyboardist.png" alt="keyboardist" width="100" height="100">
            </div>
        </li>
        <li>
            <div>
                <img src="/public/img/keyboardist.png" alt="keyboardist" width="100" height="100">
            </div>
        </li>
        <li>
            <div>
                <img src="/public/img/keyboardist.png" alt="keyboardist" width="100" height="100">
            </div>
        </li>
    </ul>
    <br>
    <a href="table.html">next</a>
  </body>
</html>
