<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/img/banana.png" type="image/x-icon">
    <title>Doc</title>
  </head>
  <body>
    <table>
      <!--? tag <tr> == header of row-->
      <!--? tag <th> == header of colume-->
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      <!--? tag <td> == data of colume-->
      <tr>
        <td>1</td>
        <td>Mes</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Bam</td>
      </tr>
    </table>
    <div>
      <input type="text" placeholder="Username" />
    </div>
    <div>
      <input type="password" placeholder="Password" />
    </div>
    <div>
      <select name="" id="">
        <option value="female">female</option>
        <option value="male">male</option>
      </select>
    </div>

    <!--?checkbox == เลือกได้หลายอย่าง-->
    <div>
      ข้าวเย็น
      <div><input type="checkbox" name="" id="" />พัดกระเพรา</div>
      <div><input type="checkbox" name="" id="" />พัดกระเพรา</div>
      <div><input type="checkbox" name="" id="" />พัดกระเพรา</div>

    <!--?checkbox == เลือกได้อย่างเดียว-->
    <div>
      age
      <div><input type="radio" /> 10-20</div>
      <div><input type="radio" /> 21-30</div>
    </div>
    
    
    <a href="index.html"><button type="button" >Enter</button></a>
  </body>
</html>
